@import '../../assets/styles/theme';

.legalNotice {
  padding-top: 20px;
  padding-bottom: 10px;
  background: white;
  font-size: 0.95em;
}

.paragraphTitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 30px;
}
